<?php
///** \Magebit\PageListWidget\Block\Widget\PageList $block */
?>

<?php if ($block->hasData('title')): ?>
    <h2><?= $block->getData('title'); ?></h2>
<?php endif; ?>

<ul>
    <?php foreach ($block->getPageList() as $page): ?>
        <li>
            <a href="<?= $block->getUrl($page->getIdentifier()); ?>">
                <?= $page->getTitle(); ?>
            </a>
        </li>
    <?php endforeach; ?>
</ul>

